
/* заголовки таблиц по центру */
.aui .table thead th {
	text-align: center;
	vertical-align: middle;
}

/* custom classes */
div.bordered-block-1 {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
}

div.bordered-block-2 {
	border-width: 1px;
	border-style: solid;
	border-color: blueviolet;
}

